{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner"> 
                        <div class="breadcrumb_iner_item">
                            <p>Home / Login</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

   <section class="login_part section_padding">
        <div class="container">
     <h2>You have been looged out</h2>
            <a class="ml-2" href="{% url 'login-shop' %}">Login</a>
        </div>
    </section>

    <!--================login_part end =================-->

   

   
{% endblock content %}